@import url("../main.css");
.global img {
  width: 20%;
  height: 20%;
}
.global nav {
}

.search-box {
  position: fixed;
  font-size: 150%;
  top: 10%;
  left: 5%;
  width: 42%;
  height: 65%;
  background-color: var(--bg-sub-color);
}
.search-result-list {
  font-size: 50%;
  color: var(--w-color);
  max-height: 90%; /* Adjust the height as needed */
  overflow: auto;
}
.search-result-list-item {
  background-color: var(--white);
  margin: 2%;
}
.search-bar input{
  position: relative;
  width: 90%;
  height: 10%;
  padding: 0;
  border: 0;
  color: var(--black);
}
.search-bar input::placeholder {
  color: var(--button-color-dim);
}
.search-bar button {
  position: relative;
  width: 10%;
  padding: 0;
  border: 0;
}
.search-page-navigator {
  position: relative;
  bottom: 0;
  
}

.track-box {
  position: fixed;
  font-size: 150%;
  top: 10%;
  right: 5%;
  width: 42%;
  height: 65%;
  background-color: var(--bg-sub-color);
}
.track-list {
  font-size: 50%;
  color: var(--w-color);
  max-height: 90%; /* Adjust the height as needed */
  overflow: auto;
}
.track-list-item {
  background-color: var(--white);
  margin: 2%;
}
.thumbnails {
}


.bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background-color: var(--button-container-color);
}
.bottom-container button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.bottom-container button:active{
  color: var(--button-color);
}
.stop-button {
  position: fixed;
  left: 60%;
  align-items: center;
  bottom: 35px;
  font-size: 15px;
  color: var(--button-color-dim);
}
.play-pause-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16%;
  font-size: 280%;
  color: var(--button-color);
}
.play-pause-button:active{
  font-size: 300%;
  bottom: -16%;
}
.forward-button {
  position: relative;
  font-size: 200%;
  color: var(--button-color);
}
.backward-button {
  position: relative;
  font-size: 200%;
  color: var(--button-color);
}
.progress-slider[type="range"] {
  /* Delete default styles */
  -webkit-appearance: none;
  appearance: none;

  /* Configuration */
  position: fixed;
  left: 50%;      /* Left and transform make it stays in center*/
  transform: translateX(-50%);
  bottom: 15%;
  width: 100%;
  height: 0.6%;
  outline: none;
  border: none;

  /* Adjust progress bar's color by gradients */
  background: linear-gradient(
      to right,
      var(--progress-color) 0%,
      var(--progress-color) calc(var(--progress) * 100%),
      var(--slider-color) calc(var(--progress) * 100%),
      var(--slider-color) 100%
  );
} 
.progress-slider[type="range"]::-webkit-slider-thumb {
  /* Delete default styles */
  -webkit-appearance: none;

  /* Configuration */
  width: 4%;
  height: 4%;
  background: var(--progress-color);
  border-radius: 50%;
  cursor: pointer;
}
.progress-slider[type="range"]:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.progress-slider[type="range"]:active::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.progress-slider[type="range"]:hover {
  background: linear-gradient(
    to right,
    var(--drag-progress-color) 0%,
    var(--drag-progress-color) calc(var(--progress) * 100%),
    var(--slider-color) calc(var(--progress) * 100%),
    var(--slider-color) 100%
  );
}
.volume-container {
  position: fixed;
  width: 15%;
  height: 15%;
  bottom: 0;
  right: 0;
}
.volume-button {
  position: relative;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  font-size: 125%;
  color: var(--button-color-dim);
}
.volume-slider[type="range"] {
  -webkit-appearance: none;
    appearance: none;
    position: fixed;
    width: 10%;
    height: 0.6%;
    bottom: 7.2%;
    outline: none;
    border-radius: 2px;

  /* Adjust progress bar's color by gradients */
  background: linear-gradient(
      to right,
      var(--progress-color) 0%,
      var(--progress-color) calc(var(--volume) * 100%),
      var(--slider-color) calc(var(--volume) * 100%),
      var(--slider-color) 100%
  );
}
.volume-slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4%;
  height: 4%;
  background: var(--progress-color);
  border-radius: 50%;
  cursor: pointer;
}
.volume-slider[type="range"]:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.volume-slider[type="range"]:active::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.volume-slider[type="range"]:hover {
  background: linear-gradient(
    to right,
    var(--drag-progress-color) 0%,
    var(--drag-progress-color) calc(var(--volume) * 100%),
    var(--slider-color) calc(var(--volume) * 100%),
    var(--slider-color) 100%
  );
}

.hidden-box {
  width: 0;
  height: 0;
  overflow: hidden;
}
