@import url("../main.css");

.search-box {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 42%;
  height: 65%;
  background-color: var(--bg-sub-color);
}

.search-result{
  font-size: 50%;
  color: var(--button-color);
  margin: 2%;
  max-height: 90%; /* Adjust the height as needed */
  overflow: auto;
}

.search-bar input{
  position: relative;
  width: 90%;
  height: 10%;
  padding: 0;
  border: 0;
  color: var(--black);
}

.search-bar input::placeholder {
  color: var(--button-color-dim);
}
.search-bar button {
  position: relative;
  width: 10%;
  padding: 0;
  border: 0;
}

.track-box {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 42%;
  height: 65%;
  background-color: var(--bg-sub-color);
}
.track-list {
  font-size: 50%;
  color: var(--button-color);
  margin: 2%;
  max-height: 90%; /* Adjust the height as needed */
  overflow: auto;
}