.progress-slider[type="range"] {
  /* Delete default styles */
  -webkit-appearance: none;
  appearance: none;

  /* Configuration */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  width: 100%;
  height: 0.6%;
  outline: none;
  border: none;

  /* Adjust progress bar's color by gradients */
  background: linear-gradient(
    to right,
      var(--progress-color) 0%,
      var(--progress-color) calc(var(--progress) * 100%),
      var(--slider-color) calc(var(--progress) * 100%),
      var(--slider-color) 100%
  );
} 
.progress-slider[type="range"]::-webkit-slider-thumb {
  /* Delete default styles */
  -webkit-appearance: none;

  /* Configuration */
  width: 4%;
  height: 4%;
  background: var(--progress-color);
  border-radius: 50%;
  cursor: pointer;
}
.progress-slider[type="range"]:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.progress-slider[type="range"]:active::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}
.progress-slider[type="range"]:hover {
  background: linear-gradient(
  to right,
    var(--drag-progress-color) 0%,
    var(--drag-progress-color) calc(var(--progress) * 100%),
    var(--slider-color) calc(var(--progress) * 100%),
    var(--slider-color) 100%
  );
}