:root {
    /* Global */
    --black: #000000;
    --white: #ffffff;
    --bg-color: #12111b;    
    --w-color: #ffffff;
    --bg-sub-color: #242036;

    /* Button */
    --button-color: #ffffff;
    --button-color-dim:#cecece;
    --button-container-color: #34314f;

    /* Audio Slider */
    --track-color: #242036;
    --thumb-color: #34314f59;
    --progress-color: #ffffff;
    --drag-progress-color:#72e5ff;
}
